

*, *::before, *::after 
    box-sizing inherit;
    margin 0;
    padding 0;

html, body 
     scroll-behavior smooth;
body 
    box-sizing border-box;
    font-size 16px
    font-family 'Open-Sans', Arial, Helvetica, sans-serif
    width 100%
    min-height 100%;
    position relative;
    transition all 2s ease-in


/* Fonts 
____________________________*/
@font-face
    font-family 'Open-Sans'
    src url("../../public/fonts/OpenSans-Regular.ttf")

@font-face
    font-family 'Raleway'
    src url("../../public/fonts/Raleway-Regular.ttf")

@font-face
    font-family "Bebas"
    src url("../../public/fonts/BEBAS___.ttf")