// Navbar Section

// Main Navbar
.navbar__main 
    background #DDD;
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    width 100%
// Navbar Links
.navbar__link
    padding 40px
    font-size 1.2rem
    text-decoration none
    font-family 'Bebas', Arial, Helvetica, sans-serif
    font-weight 500
    color #222
    position relative
    display grid
    place-items center
    &:hover
        color #555   
        > span 
            width 100%
            height 5px
            position absolute
            bottom 0
            left 0
            right 0
.logo
    display grid
    place-items center
    width 100%
    height auto
.logo__wrap
    display grid
    place-items center
    width 100px
    height 100%
// Navbar Sections
.navbar__section-1
    display flex
    margin-right auto
    background darken(#ba0101, 30%)
    > a
        color #DDD
        transition .5s ease-in
        &:hover
            color #FFF
            transition .5s ease-in
            > span 
                background rgba(#EEE, .8)
.navbar__section-2
    display flex
    margin-left auto
    background #CCC
    > a
        color #222
        transition .5s ease-in
        &:hover
            color #555
            transition .5s ease-in
            > span 
                background rgba(#ba0101, .8)
// Mobile 
.navbar__main-mobile
    display flex
    align-items center
    flex-wrap wrap
    box-shadow 0px 0px 20px rgba(#000, .5)
    height 100px
    background darken(#8c0b00, 20%) 
    z-index 999
.navbar__collapse-btn
    order 2
    margin-left auto
    margin-top 10px
    margin-right 10px
    width 50px
    height 50px
    border-radius 10px
    padding 15px
    display grid 
    place-items center
    cursor pointer
    &:hover
        opacity .5
    > span 
        background #f4f4f4
        width 100%
        height 3px
        margin-bottom 2px   
        display block 
.navbar__wrap
    order 2
    flex-basis 100%
    display flex
    flex-wrap wrap
    margin-top 20px
    // background #DDD
    height 100%
    transition all .5s ease-in
    overflow hidden
    z-index 999
    display none
.navbar__wrap.active
    display flex
    transition all .2s ease-in
.active 
    background darken(#8c0b00, 20%) !important
    transition all .5s ease-in
    transform translateX(0px)
    height 100% !important

.navbar__link-mobile
    flex 1 100%
    padding 20px
    font-family "Bebas", Arial, Helvetica, sans-serif
    cursor pointer
    font-size 1.5rem
    color #EEE
    text-decoration none
    &:hover
        background #f4f4f4
        color #444
.navbar__mobile-img
    flex-basis 20%
    img 
        width 100px
@media screen and (max-width 968px)
    .navbar__link
        flex 1 100%