// SlideShow

.slider
    display block
    overflow hidden
    width 100%
    height 100%
    position relative
.slider__img
    display block 
    width 100%
.title__card
    position absolute
    top 0
.slider__slide
    position: relative
    width 100%
.slider__header
    position absolute
    z-index: 1
    bottom 0
    padding 20px
    h1 
        font-size 5rem
        font-family: "Bebas", Arial, Helvetica, sans-serif
        text-shadow: 3px 3px 10px rgba(#000, .5)
        span 
            display block
            font-size 2rem
    h2 
        font-size 2rem
        font-family: "Raleway", Arial, Helvetica, sans-serif
        font-weight: 200
        text-shadow: 3px 3px 10px rgba(#000, .5)
        color #333
